.login-bottom{
      display: flex;
}
.login{
      background-color:  #164b9e;
      height: 1px;
      width: 100%;
      margin-top: 13px;
}
.login-bottom p{
      font-size: 18px;
      margin: 0px 15px;
}

.social-icon{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
}
.icon{
      font-size: 30px;
      margin: 0px 13px;
}

.google{
      border: 1px solid lavender ;
      width: 100%;
      text-align: center;
      padding: 8px 0px;
      border-radius: 15px;
      cursor: pointer;
      
}
.google span{
      font-size: 18px;
      
}

