.new-banner{
      background-image: url('../../../Picture/banner-5.jpg');
      background-size: cover;
      height: 600px;
      background-repeat: no-repeat;
      
      
}


@media screen and (max-width: 570px) {
      .new-banner{
            background-image: url('../../../Picture/banner-5.jpg');
            background-size: cover;
            
            height: 200px;
        
            background-repeat: no-repeat;
         
            
      }
}

@media screen and (min-width: 750px) and (max-width: 1023px) {
      .new-banner{
            background-image: url('../../../Picture/banner-5.jpg');
            background-size: cover;
            
            height: 300px;
        
            background-repeat: no-repeat;
         
            
      }
    
}