.deletbtn{
      color: rgb(238, 33, 33);
      font-size: 25px;
      cursor: pointer;
}
th{
      color: #164b9e;
      font-size: 18px;
}

tbody, td, tfoot, th, thead, tr{
      width: 0px !important;
}

.manage-itemlist{
    
}