.suctomer-service h5{
      color: #164b9e;
      font-size: 22px;
      margin-bottom: 10px;
}
.suctomer-service p{
      margin: 6px 0px;
      font-size: 17px;
      color: rgb(17, 2, 2);
      font-weight: 400;

}

hr{
      color: #164b9e;
     
}

.footer-text{
      color: #164b9e;
      font-weight: 400;
      font-size: 20px;

}